<p>Bienvenido <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nos estamos comunicando con usted para notificarle que su correo electrónico se cambiará a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
<% end %>
